{# Preference_colspan template #}
  <tr class="th">
    <td>{{ string }}</td>
    <td align="center">{{ lang('read') }}</td>
    <td align="center">{{ lang('edit') }}</td>
    <td align="center">{{ lang('delete') }}</td>
  </tr>
