{# Tab template #}
{% block tab %}
<div class="yui-navset">
	<ul id="contacts_section_tabs" class="yui-nav">
		{{ buttons }}
	</ul>
</div>
{% endblock %}

{% block button %}
	<li class="{{ tab_css }}"><a href="javascript:changetab('{{ tab_caption }}')"><em>{{ tab_caption }}</em></a></li>
{% endblock %}


