@import "../../../../styles/util.module";


.innerHeader {
    grid-area: inner-header;
    //justify-content: space-between;
    align-items: center;
    column-gap: 0.5rem;

    display: grid;

    @include mobile {
        row-gap: 0.5rem;
        grid-template-columns:auto auto 1fr auto;
        grid-template-areas: "resource-button resource-button date date" "mode-select mode-select-time blank order";
        //display: none;
    }
    @include small-mobile {
        row-gap: 0.5rem;
        grid-template-columns:auto auto 1fr auto;
        grid-template-areas: "resource-button resource-button resource-button resource-button" "date date date date" "mode-select mode-select-time blank order";
        //display: none;
    }
    @include tablet {
        row-gap: 0.5rem;
        //grid-template-columns:auto 1fr;
        //grid-template-rows: auto auto;
		grid-template-columns:auto 1fr auto auto auto;
		grid-template-areas:  "date date date date date" "resource-button blank mode-select mode-select-time order";
        //grid-template-areas: "mode-select resource-button" "resource-button date";

        //display: none;
    }
    @include desktop {
        row-gap: 0rem;
        grid-template-columns:auto auto 1fr auto auto;
        grid-template-rows: auto;
        grid-template-areas: "resource-button date mode-select-time mode-select order";
        //display: none;
    }
    .orderButton {
        grid-area: order;
    }
    .datePicker {
        grid-area: date;
        //width: min-content;
        @include mobile {
            width: unset;
        }
    }


    .mobileResourcesButton, .expandCollapseButton {
        grid-area: resource-button;
    }
    .modeSelectTime {
        display: flex;
        justify-content: flex-end;
        grid-area: mode-select-time;
        //@include mobile {
        //    //flex-direction: column;
        //    display: none;
        //}
		//@layer ds.components {
		//	.ds-button[data-variant="secondary"], .ds-button[data-variant="tertiary"] {
		//		--dsc-button-background: transparent;
		//		--dsc-button-background--active: var(--ds-color-surface-active);
		//		--dsc-button-background--hover: var(--ds-color-surface-hover);
		//		--dsc-button-color: var(--ds-color-text-subtle);
		//		--dsc-button-color--hover: var(--ds-color-text-default);
		//	}
		//	.ds-button:where(:not(:disabled, [aria-disabled="true"], [aria-busy="true"])):active {
		//		background: var(--dsc-button-background--active);
		//	}
		//	@media (hover: hover) and (pointer: fine) {
		//		.ds-button:where(:not(:disabled, [aria-disabled="true"], [aria-busy="true"])):hover {
		//			background: var(--dsc-button-background--hover);
		//			color: var(--dsc-button-color--hover);
		//		}
		//	}
		//}
		//
		//@layer ds.components {
		//	.ds-button {
		//		--dsc-button-background--active: var(--ds-color-surface-active);
		//		--dsc-button-background--hover: var(--ds-color-surface-hover);
		//		--dsc-button-background: var(--ds-color-surface-active);
		//		--dsc-button-color: var(--ds-color-text-default);
		//		--dsc-button-color--hover: var(--ds-color-text-default);
		//		--dsc-button-border-width: var(--ds-border-width-default);
		//		--dsc-button-border-style: solid;
		//		--dsc-button-border-color: transparent;
		//		--dsc-button-gap: var(--ds-size-2);
		//		--dsc-button-padding: var(--ds-size-2) var(--ds-size-4);
		//		--dsc-button-size: var(--ds-size-12);
		//		align-items: center;
		//		background: var(--dsc-button-background);
		//		border-color: var(--dsc-button-border-color);
		//		border-radius: var(--ds-border-radius-default);
		//		border-style: var(--dsc-button-border-style);
		//		border-width: var(--dsc-button-border-width);
		//		box-sizing: border-box;
		//		color: var(--dsc-button-color);
		//		cursor: pointer;
		//		font-family: inherit;
		//		font-weight: var(--ds-font-weight-medium);
		//		gap: var(--dsc-button-gap);
		//		height: -moz-fit-content;
		//		height: fit-content;
		//		justify-content: center;
		//		line-height: var(--ds-line-height-sm);
		//		min-height: var(--dsc-button-size);
		//		min-width: var(--dsc-button-size);
		//		outline:
		//			none;
		//		padding: var(--dsc-button-padding);
		//		text-align: inherit;
		//		text-decoration:
		//			none;
		//	}
		//}

		//@layer ds.theme.color {
		//	:root, [data-color-scheme], [data-color="accent"] {
		:global{

		}

			//}
		//}
    }
    .modeSelect {
        grid-area: mode-select;
        .modeTitle {
            @include mobile {
                //flex-direction: column;
                display: none;
            }
        }

    }
}

.flexBox {
    display: flex;
    flex-direction: row;
    gap:0.5rem;

}



.datePicker {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0.5rem;
}

.mobileResourcesButton {
    grid-area: resource-button;

    @include tablet {
        display: none;
    }
}

.expandCollapseButton {
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    width: 300px;
    
    @include mobile {
        display: none;
    }


    &.open {
        transform: rotate(0deg);
        border-bottom: 0;

    }


    //&.open {
    //    margin-left: -0.875rem;
    //}
    //background-color: green!important;

    .expandCollapseIcon {
        transition: 300ms;
        transform: rotate(180deg);


        &.open {
            transform: rotate(0deg);
        }
    }
}