@import "../../styles/colors.scss";

.controllButtonsContainer {
    display: flex;
}

.editForm {
    padding: 0 0.3rem;
    .inputLabel {
        width: 100%;
        margin-bottom: 0.3rem;
        margin-top: 0;
        font-weight: 500;
        cursor: default;
    }
    > div {
        margin-bottom: 0.6rem;
        max-width: 400px;
        min-width: 285px;
    }
}

.participantInput {
    display: flex;
    align-items: center;
    input {
        width: 3rem;
        text-align: center;
    }
    svg {
        margin-right: 0.4rem;
        margin-left: 0.4rem;
        user-select: none;
    }
}

.resourceViewBlock {
    display: flex;
    align-items: center;
    b {
        margin-right: 0.1rem;
    }
    button {
        text-decoration: underline;
        color: $secondary-color;
        &:hover {
            background: none;
        }
    }
}

.editResources {
    > div {
        margin-right: 0.5rem;
    }
    label {
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 5px 4px;
        input {
            border-radius: 4px;
            border-width: 2px;
        }  
    }
}