@import "../../styles/colors.scss";

.controllButtonsContainer {
    display: flex;
}

.editForm {
    padding: 0 0.3rem;
    > div {
        margin-bottom: 0.6rem;
        max-width: 400px;
        min-width: 285px;
        > label {
            color: var(--ds-color-neutral-text-subtle);
            font-family: '__Roboto_ba5676', '__Roboto_Fallback_ba5676';
            font-style: normal;
            font-weight: 400;
        }
    }
}

.editTimeBlock {
    display: flex;
    width: 100%;
    gap: 1rem;
    div {
        width: 100%;
    }
}

.participantInput {
    display: flex;
    align-items: center;
    input {
        width: 3rem;
        text-align: center;
    }
    svg {
        margin-right: 0.4rem;
        margin-left: 0.4rem;
        user-select: none;
    }
}

.resourceViewBlock {
    display: flex;
    align-items: center;
    b {
        margin-right: 0.1rem;
    }
    button {
        text-decoration: underline;
        color: $secondary-color;
        &:hover {
            background: none;
        }
    }
}

.editResources {
    > div {
        margin-right: 0.5rem;
    }
    label {
        margin-right: 0.5rem;
        padding: 4px 0px;
        input {
            border-radius: 4px;
            border-width: 2px;
        }  
    }
}