{# Vcal_import template #}
<!-- vcardin form -->
{{ vcal_header }}
    <form ENCTYPE="multipart/form-data" method="POST" action="{{ action_url | raw }}">
      <table border=0>
      <tr>
       <td>{{ ical_lang }}: <input type="file" name="uploadedfile"></td>
       <td><input type="submit" name="action" value="{{ load_vcal }}"></td>
      </tr>
      </table>
     </form>
