@import "./typography-vars.module.scss";

body {
	//font-family: 'Roboto', sans-serif;
	font-weight: $text-regular;
	@include applyFontProperties('body');
}

h1, .h1 {
	//font-family: var(--font-poppins);
	font-weight: $text-regular;
	margin-top: 0;
	margin-bottom: 2rem;
	@include applyFontProperties('display');
}

h2, .h2 {
	//font-family: var(--font-poppins);
	&:not(.ds-heading) {
		font-weight: $text-regular;
		@include applyFontProperties('headline');
	}
}

h3, .h3 {
	margin: 0;
	font-weight: $text-bold;
	@include applyFontProperties('title');
}

h4, .h4 {
	font-weight: $text-medium;
	@include applyFontProperties('subtitle');
}

.font-size {
	&-h1 {
		height: getFontDef($desktop, 'display', 'height');
		@include small-screen {
			height: getFontDef($mobile, 'display', 'height');
		}
	}

	&-h2 {
		height: getFontDef($desktop, 'headline', 'height');
		@include small-screen {
			height: getFontDef($mobile, 'headline', 'height');
		}
	}

	&-h3 {
		height: getFontDef($desktop, 'title', 'height');
		@include small-screen {
			height: getFontDef($mobile, 'title', 'height');
		}
	}

	&-h4 {
		height: getFontDef($desktop, 'subtitle', 'height');
		@include small-screen {
			height: getFontDef($mobile, 'subtitle', 'height');
		}
	}

	&-small {
		$desktop-height: strip-unit(getFontDef($desktop, 'caption', 'height')) * 0.75 + rem;
		height: $desktop-height;
		@include small-screen {
			$mobile-height: strip-unit(getFontDef($mobile, 'caption', 'height')) * 0.75 + rem;
			height: $mobile-height;
		}
	}
}


.line-height {
	&-h1 {
		@include applyLineHeights('headline');
	}

	&-h2 {
		@include applyLineHeights('title');
	}

	&-h3 {
		@include applyLineHeights('subtitle');
	}

	&-h4 {
		@include applyLineHeights('label');
	}
}

.underline {
	text-decoration: underline;
}