RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<IfModule mod_headers.c>
   SetEnvIf Origin "http(s)?://(www\.)?(google.com|maps.googleapis.com)$" AccessControlAllowOrigin=$0
   Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
   Header merge Vary Origin
</IfModule>

# Suppress .map file 404 errors
<Files ~ "\.map$">
  Order allow,deny
  Deny from all
  Satisfy All
</Files>