<link href="{{ modules_url }}/phpgwapi/js/DataTables2/datatables.min.css" rel="stylesheet">
<style>{{ source('@views/datatable/datatable.css') }}</style>
<div id="app-datatable"></div>
<script src="{{ modules_url }}/phpgwapi/js/DataTables2/datatables.min.js"></script>
<script>{{ source('@views/datatable/datatable.js') }}</script>
