
.datePicker {
	--dsc-button-background--active: var(--ds-color-base-active);
	--dsc-button-background--hover: var(--ds-color-base-hover);
	--dsc-button-background: var(--ds-color-base-default);
	--dsc-button-color: var(--ds-color-base-contrast-default);
	--dsc-button-color--hover: var(--ds-color-base-contrast-default);
	--dsc-button-border-color: transparent;
	--dsc-button-gap: var(--ds-size-2);
	--dsc-button-padding: var(--ds-size-2) var(--ds-size-4);
	--dsc-button-size: var(--ds-size-12);

	--dsc-card-border-color: var(--ds-color-border-subtle);

	width: 100%; /* Full width by default */

	&[data-variant='secondary'],
	&[data-variant='tertiary'] {
		--dsc-button-background: transparent;
		--dsc-button-background--active: var(--ds-color-surface-active);
		--dsc-button-background--hover: var(--ds-color-surface-hover);
		--dsc-button-color: var(--ds-color-text-subtle);
		--dsc-button-color--hover: var(--ds-color-text-default);
	}

	&[data-variant='secondary'] {
		--dsc-button-border-color: var(--ds-color-border-strong);
	}

	&[data-color] {
		--dsc-button-background--active: var(--ds-color-base-active);
		--dsc-button-background--hover: var(--ds-color-base-hover);
		--dsc-button-background: var(--ds-color-base-default);
		--dsc-button-color: var(--ds-color-base-contrast-default);
		--dsc-button-color--hover: var(--ds-color-base-contrast-default);

		&[data-variant='secondary'],
		&[data-variant='tertiary'] {
			--dsc-button-background: transparent;
			--dsc-button-background--active: var(--ds-color-surface-active);
			--dsc-button-background--hover: var(--ds-color-surface-hover);
			--dsc-button-color: var(--ds-color-text-subtle);
			--dsc-button-color--hover: var(--ds-color-text-default);
		}

		&[data-variant='secondary'] {
			--dsc-button-border-color: var(--ds-color-border-strong);
		}
	}

	background-color: white;
	border-radius: 5rem;

	.datePickerButton {
		justify-content: flex-start;
		display: flex;

		@media (min-width: 768px) {
			min-width: 10rem;
		}
	}
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 44px;
    margin-bottom: 1rem;
}

.selects {
    display: flex;
    gap: 0.5rem;
}

.select {
    min-width: fit-content;
//    appearance: none;
//    background-color: var(--dsc-button-background);  // Changed from #f3f4f6
//    border: 0;
//    border-radius: 0.25rem;
//    padding: 0.719rem;
//    font-size: 1rem;
//    cursor: pointer;
//
//    &:focus {
//        outline: none;
//        box-shadow: 0 0 0 2px var(--dsc-button-background--hover);  // Changed from var(--brand1-color-24)
//    }
}

.calendar {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    > span {
      grid-column: span 2;
    }

    width: 100%;
    min-width: 320px;
}

.wrapper {
    width: 100%;

    :global(.ds-input) {
        width: 100%;
    }
}

.popper {
    z-index: 10;
}


.timeInput {
    display: flex;
    max-height: 350px;
    //flex-directon: column;
    grid-column: 2!important;
    .timeColumns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        .timeColumn {
            display: contents;
            &Header {
                text-align: center;
                padding: 0.5rem;
                color: var(--ds-color-text-subtle);
                font-size: 0.875rem;
                grid-row: 1;
            }

            &List {
                overflow-y: scroll; /* Scroll if necessary */
                grid-row: 2;

                //height: 200px !important;
                padding: 0;
                margin: 0;
                list-style: none;

                &Item {
                    padding: 0.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 2rem;
                    cursor: pointer;
                    width: 2rem;
                    &:hover {
                        background: var(--dsc-button-background--hover);
                    }

                    &.disabled {
                        opacity: 0.5;
                        cursor: not-allowed;
                        &:hover {
                            background: transparent;
                        }
                    }

                    &Selected {
                        background: var(--ds-color-base-default) !important;
                        color: var(--ds-color-base-contrast-default) !important;

                        &:hover {
                            background: var(--ds-color-base-hover) !important;
                        }
                    }
                }
            }
        }
    }

}

