@import "../../../styles/util.module";

.resourceCard {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 400px;
	overflow: hidden;

	@include tablet {
		width: calc((100% - 1.5rem) / 2); // 2 cards with 1.5rem gap between them
	}

	@include desktop {
		width: calc((100% - 3rem) / 3); // 3 cards with 1.5rem gap between them
	}
}

.imageBlock {
	padding: 0 !important;
	margin: 0;
}

.imageWrapper {
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.cardImage {
	object-fit: cover;
}

.contentBlock {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	flex-grow: 1;
}

.titleLink, .buildingLink {
	//text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.resourceHeadingContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	//justify-content: center;
	gap: 0.5rem;
	margin-bottom: 0;
}

.resourceIcon {
	display: flex;
	align-items: center;
	margin-bottom: 0;
}

.resourceTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100% - 2rem);

	//white-space: nowrap; // for 1 line

	display: -webkit-box; // for 2 line
	-webkit-line-clamp: 2; // for 2 line
	-webkit-box-orient: vertical; // for 2 line
	line-height: 1.5em; // for 2 line
	max-height: 3em; // for 2 line

	margin-bottom: 0;
}

.availabilityIndicator {
	margin-left: auto;
	font-size: 1.2em;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 0.5em;
	height: 0.5em;
	border-radius: 50%;

	&.available {
		background-color: var(--ds-color-success-background-tinted);
		//background-color: rgba(16, 185, 129, 0.1);
		border: 1px solid var(--ds-color-success-border-strong);
	}

	&.unavailable {
		background-color: var(--ds-color-danger-background-tinted);
		border: 1px solid var(--ds-color-danger-border-strong);
	}
}

.resourceTags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5em; // for 2 line
	max-height: 3.5em; // for 2 line
	margin-bottom: 0;
}

.capacity {
	margin-top: auto;
	margin-bottom: 0;
	padding-top: 0.5rem;
	border-top: 1px solid var(--ds-color-border-subtle);
	text-transform: uppercase;
	font-size: 0.875rem;
	letter-spacing: 0.02em;
}

.cardAction {
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
	padding-top: 1rem;
}

//.viewLink {
//	text-decoration: none;
//	color: var(--digdir-color-primary-interface);
//	font-weight: 500;
//	font-size: 0.875rem;
//
//	&:hover {
//		text-decoration: underline;
//	}
//}