{# Message_echo_dump template #}
<!-- begin message_echo_dump.tpl -->

{% block B_setup_echo_dump %}
<table border="0" cellpadding="1" cellspacing="1" width="95%" align="center">
<tr>
	<td bgcolor="{{ theme_row_on }}" width="100%">
		<font size="2" face="{{ theme_font }}">
		<strong>{{ title_text }}</strong> &nbsp; &nbsp; {{ display_str }}</font>
	</td>
</tr>
<tr>
	<td align="left">
		<br />
{% endblock %}

{% block B_done_echo_dump %}
	</td>
</tr>
</table>
{% endblock %}

<!-- end message_echo_dump.tpl -->
