{# Config_post_script template #}
<!-- begin config_post_script.tpl -->
  <tr bgcolor="#FFFFFF">
    <td colspan="2" align="center">
&nbsp;
    </td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td colspan="2" align="center">
{{ more_configs }}
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <input type="submit" name="submit" value="{{ lang('submit') }}" class="pure-button"/>
      <input type="submit" name="cancel" value="{{ lang('cancel') }}" class="pure-button"/>
    </td>
  </tr>
  <tr class="banner">
    <td colspan="2">
	&nbsp;
    </td>
  </tr>
</table>
</form>
<!-- end config_post_script.tpl -->

