{# Config_pre_script template #}
<!-- begin config_pre_script.tpl -->
{% block config_pre_script %}

	<H1>	{{title}}</H1>

<form method="POST" action="{{ action_url | raw }}" class ="pure-form pure-form-stacked">
	<table class="pure-table pure-table-bordered">

{% endblock %}
<!-- end config_pre_script.tpl -->

