{# Setup footer template #}
        <footer>
            <div class="copyright">
                &copy; {{ "now"|date("Y") }} Portico Estate
            </div>
        </footer>
    </div><!-- End .container -->
</body>
</html>