@import '../../../../styles/util.module';

.delegate_create {
    width: 47%;
    @include mobile {
        width: 100%;
    }
    & > div {
        margin-bottom: 0.7rem;
    }
}

.buttons_group {
    display: flex;
    & > button:first-child {
        margin-right: 0.5rem;
    }
}