@import '../../../../styles/util.module';

.new_group_container {
    width: 47%;
    @include mobile {
        width: 100%;
    }
    & > div {
         margin-bottom: 1rem;
    }
   
}

.group_buttons {
    display: flex;
    & > button {
        margin-right: 0.5rem;
    }
}