@import "@/styles/util.module";

.resourcesHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resourcesGrid {
	display: flex;
	flex-wrap: wrap;
    gap: 10px;
    @include mobile {

        gap: 8px;
    }
}
