.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: visibility 0s, opacity 0.5s linear;
    &.hidden {
        visibility: hidden;
        opacity: 0;
    }
	z-index: 99999;
}

.badge {
	--dsc-badge-background: var(--ds-color-neutral-surface-default);
}