.calendarBody {
	grid-area: calendar-body;
}

.loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	width: 100%;
	color: #666;
	font-size: 0.9rem;
}



.noSlots {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	font-size: 0.9rem;
	color: #666;
}
